body{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  overflow-x: hidden;
}

@media (max-width: 767px) {
  body {
    font-size: 16px;
  }
}

/* Headings */
h1 {
  font-weight: 500;
}

@media (min-width: 768px){
  .logo {
    background-color: white;
    position: absolute;
    top: -63px;
    width: 170px;
  }

  .logo img{
    margin: auto;
  } 
}

/* Navigation Authorization Top */
.header.links .authorization-link a{
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 10px 25px;
}

.header.links li a{
  padding: 10px 0;
  font-size: 20px;
  text-decoration: none !important;
}

.page-header .panel.wrapper.acc-navbar{
  background-color: #8d847a;
}

.sections.nav-sections {
  background-color: white;
}

/* Navigation links */
nav.navigation {
  background-color: white;
}

nav.navigation .level0 > .level-top {
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black;
}

nav.navigation .level0.active > .level-top {
  border: solid 1px black;
  border-width: 0 0 2px;
  font-weight: 1000;
}

/* Mobile navigation */
@media only screen and (max-width: 767px){
  .nav-open .nav-sections {
    background-color: #366d68;
  }

  .nav-open .nav-sections nav.navigation {
    background-color: transparent;
    color: white;
    font-size: 20px;
  }

  .nav-open .nav-sections nav.navigation li {
    border: none;
    color: white;
  }

  .nav-open .nav-sections nav.navigation li a{
    color: white;
  }

  .header .logo {
    margin-left: 30vw;
  }

}

/* Cart */
.minicart-wrapper .action.showcart .counter.qty {
  background-color: #9f925d;
  border: solid 1px #dddddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 #f1f2f2;
}

/* Breadcrumbs */

.breadcrumbs ul.items {
  color: black;
  font-size: 16px;
}

.breadcrumbs ul.items > .item a{
  color: black;
}

.breadcrumbs .items > .item::after{
  margin: 0;
  line-height: 22px;
}

.breadcrumbs .items > .item strong {
  font-weight: 200;
}

/* Buttons */
.action.primary, .action.primary:hover, .action.primary:active, .action.primary:focus {
  background-color: #8d847a;
  border-color: #8d847a;
}

.action.subscribe.primary, .action.subscribe.primary:hover, .action.subscribe.primary:active, .action.subscribe.primary:focus {
  background-color: #366d68;
  border-color: #366d68;
}

button {
  border-radius: 4px;
}

/* Login/Registration forms */

.login-container .block-title strong {
  font-size: 24px;
}

.fieldset>.field>.label, .fieldset>.fields>.field>.label {
  font-size: 18px;
  font-weight: 500;
}

input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
  border: solid 1px #dddddd;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
}

/* Footer */
@media (min-width: 768px), print {
  footer.page-footer{
    background-color: #8d847a;
    color: white;
  }

  .footer.content .footer.links a, .footer.content .footer.links a:hover{
    color: white;
    font-size: 20px;
  }

  .footer.content ul.footer.links {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

  .footer.content .copyright {
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding: 0;
    text-align: left;
  }

  .footer.content .copyright hr{
    margin-bottom: 18px;
  }
}


.block.newsletter .title {
  display: block;
}

.footer-links-container::after {
  content: "";
  display: block;
  clear: both;
}

/* Item filters navigation */
.filter-options-title::after{
  color: #366d68;
  font-size: 16px;
}

.filter-options-title {
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.filter .block-subtitle {
  border: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.filter-options-item {
  border-bottom: solid 1px #dddddd;
}

/* List of items */

.toolbar select {
  background-color: white;
  border: solid 1px #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 #f1f2f2;
  font-family: 'Montserrat', sans-serif;
}

.abs-product-link>a:active, .product-item-name>a:active, .product.name a>a:active {
  color: #0066cc;
  font-weight: 500; 
}
.abs-product-link>a:hover, .product-item-name>a:hover, .product.name a>a:hover {
  color: #0066cc;
  font-weight: 500;
}
.abs-product-link>a:visited, .product-item-name>a:visited, .product.name a>a:visited{
  color: #0066cc;
  font-weight: 500;
}
.product-item-name>a, .product.name a>a {
  color: #0066cc;
  font-weight: 500;
}

@media (min-width: 768px), print {
  .toolbar-products {
    font-size: 18px;
  }

  .toolbar select {
    font-size: 18px;
  }
}

/* Catalog items */
@media (min-width: 768px){
  .product.detailed ul.nomentu-nav {
    flex-direction: row !important;
  }

  ul.nomentu-nav li.nav-item.active::after{
    content: "";
    display: block;
    width: 50%;
    left: 25%;
    position: relative;
    bottom: 0;
    border-top: solid 2px #9f925d;
  }

  ul.nomentu-nav li.nav-item.active a.nav-link {
    font-weight: 600;  
  }

  .nomentu-nav .nav-item a.nav-link{
    padding: 1rem 0;
  }

  hr.nomentu-separator {
    border-top: solid 1px #dddddd;
    left: 50%;
    margin-bottom: 0;
    margin-left: -50vw;
    margin-top: 0;
    position: relative;
    width: 100vw;
  }

  .nomentu-nav-content {
    margin-top: 40px;
  }
}

@media (max-width: 767px){
  hr.nomentu-separator {
    display: none;
  }
}

.product.detailed ul.nomentu-nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

ul.nomentu-nav  li.nav-item{
  flex: 1 1 auto;
  margin: 0;
  text-align: center;
}

ul.nomentu-nav a.nav-link {
  color: #575756;
  display: block;
  font-size: 20px;
  text-decoration: none;
}

.product-info-main .stock.available, .product-info-main .stock.unavailable {
  color: black;
  font-weight: 500;
  text-transform: capitalize;
}

.product-info-main .page-title-wrapper.product h1 {
  color: black;
  margin-bottom: 0;
  font-weight: 600;
}

.product-info-price .price-box .price-container .price {
  color: black;
  font-weight: 600;
}

/* Hero Banner */

.nomentu-full {
  margin: 0 calc(50% - 50vw);
}

.promo-gray-background {
  background-color: #f7f7f7;
}

.nomentu-promo .right {
  float: right;
}

.nomentu-promo a{
  max-width: none;
}

.nomentu-promo .home-main .content {
  background: none;
}

.nomentu-promo .block-promo .title {
  font-size: 40px;
  font-weight: bold;
}

.nomentu-promo .block-promo .info {
  font-size: 20px;
  font-weight: 300;
}

@media (min-width: 768px){
  .home-main .content {
    left: 15%;
    width: 30%;
  }

  .home-main img{
    height: 100%;
    left: 70%;
    position: relative;
  }
}

@media (max-width: 767px){
  .nomentu-promo .home-main .content{
    background-color: white;
    display: block;
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
  }

  .nomentu-promo .block-promo.home-main img{
    display: block;
    height: 280px;
    margin: auto;
  }

  .nomentu-promo .block-promo.home-main{
    height: auto;
  }

  .nomentu-promo .block-promo.home-main .title{
    font-size: 30px;
  }

  .nomentu-promo .block-promo .info{
    font-size: 18px;
  }

  .nomentu-promo .block-promo .button{
    margin-top: 5px;
    font-size: 20px;
  }
}

.nomentu-promo .button.action.more, .nomentu-promo .button.action.more:hover, .nomentu-promo .button.action.more:active, .nomentu-promo .button.action.more:focus {
  background-color: #8d847a;
  border-color: #8d847a;
}

p.title.separator-title{
  font-size: 30px;
  text-align: center;
}

.banner-separator{
  background-color: #9a965a;
  height: 320px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.banner-separator h2{
  color: white;
  font-size: 40px;
  font-weight: bold;
  margin-top: 0;
}

.banner-separator p{
  color: white;
  font-weight: bold;
  max-width: 650px;
}

@media (max-width: 767px){
  .banner-separator p{
    max-width: 250px;
  }
}

/* Countries banner */

.nomentu-promo ul.nomentu-promo-countries,  {
  list-style: none;
}

.nomentu-promo-countries li {
  display: inline-block;
  margin: 1rem 10px 0;
}

.nomentu-promo-countries a.country-link {
  display: block;
  color: black;
  text-decoration: none;
}

.nomentu-promo-countries a.country-link:hover, .nomentu-promo-countries a.country-link:hover, .nomentu-promo-countries a.country-link:visited{
  color: black;
  text-decoration: none;
}

.nomentu-promo-countries .country-link .country-name {
  display: block;
  text-align: center;
}

.nomentu-promo-countries .country-link .country-flag {
  width: 170px;
  height: 106px;
}

@media (max-width: 767px){
  .nomentu-promo ul.nomentu-promo-countries {
    border: solid 1px #dddddd;
    border-radius: 4px;
    text-align: center;
    padding-left: 0;
  }

  .nomentu-promo-countries .country-link .country-flag{
    display: none;
  }

  .nomentu-promo-countries li{
    border-bottom: solid 1px #dddddd;
    display: block;
    margin: 0;
  }

  .nomentu-promo-countries li:last-child{
    border-bottom: 0;
  }

  .nomentu-promo.destination-promo {
    padding: 0 20px;
  }

  .nomentu-promo-countries .country-link .country-name{
    padding: 20px;
    text-align: left;
  }

  .nomentu-promo-countries .country-name::after{
    float: right;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    color: inherit;
    content: '\e608';
    font-family: 'luma-icons';
    speak: none;
  }

}

/* Rating */
.rating-summary .rating-result>span:before{
  color: #efce4a;
}

/* Testimonials */
.testimonials ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.testimonials li{
  display: inline-block;
}

.testimonials img.testimonial-img{
  border-radius: 50px;
  display: block;
  height: 100px;
  margin: auto;
  width: 100px;
}

.testimonials p{
  max-width: 360px;
  text-align: center;
  margin: 0;
}

.testimonials p.testimonial-name{
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 13px;
}

.testimonials .rating-summary{
  margin-bottom: 25px;
  text-align: center;
}