body{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

@media (max-width: 767px) {
  body {
    font-size: 16px;
  }
}

/* Headings */
h1 {
  font-weight: 500;
}

/* Navigation Authorization Top */
.header.links .authorization-link a{
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 10px 25px;
}

.header.links li a{
  padding: 10px 0;
  font-size: 20px;
  text-decoration: none !important;
}

.page-header .panel.wrapper.acc-navbar{
  background-color: #8d847a;
}

.sections.nav-sections {
  background-color: white;
}

/* Navigation links */
nav.navigation {
  background-color: white;
}

nav.navigation .level0 > .level-top {
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black;
}

nav.navigation .level0.active > .level-top {
  border: solid 1px black;
  border-width: 0 0 2px;
  font-weight: 1000;
}

/* Mobile navigation */
@media only screen and (max-width: 767px){
  .nav-open .nav-sections {
    background-color: #366d68;
  }

  .nav-open .nav-sections nav.navigation {
    background-color: transparent;
    color: white;
    font-size: 20px;
  }

  .nav-open .nav-sections nav.navigation li {
    border: none;
    color: white;
  }

  .nav-open .nav-sections nav.navigation li a{
    color: white;
  }

  .header .logo {
    margin-left: 30vw;
  }

}

/* Cart */
.minicart-wrapper .action.showcart .counter.qty {
  background-color: #9f925d;
  border: solid 1px #dddddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 #f1f2f2;
}

/* Breadcrumbs */

.breadcrumbs ul.items {
  color: black;
  font-size: 16px;
}

.breadcrumbs ul.items > .item a{
  color: black;
}

.breadcrumbs .items > .item::after{
  margin: 0;
  line-height: 22px;
}

.breadcrumbs .items > .item strong {
  font-weight: 200;
}

/* Buttons */
.action.primary, .action.primary:hover, .action.primary:active, .action.primary:focus {
  background-color: #366d68;
  border-color: #366d68
}

button {
  border-radius: 4px;
}

/* Login/Registration forms */

.login-container .block-title strong {
  font-size: 24px;
}

.fieldset>.field>.label, .fieldset>.fields>.field>.label {
  font-size: 18px;
  font-weight: 500;
}

input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
  border: solid 1px #dddddd;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
}

/* Footer */
@media (min-width: 768px), print {
  footer.page-footer{
    background-color: #8d847a;
    color: white;
  }

  .footer.content .footer.links a, .footer.content .footer.links a:hover{
    color: white;
    font-size: 20px;
  }

  .footer.content ul.footer.links {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

  .footer.content .copyright {
    background-color: transparent;
    color: white;
    font-size: 20px;
    padding: 0;
    text-align: left;
  }

  .footer.content .copyright hr{
    margin-bottom: 18px;
  }
}


.block.newsletter .title {
  display: block;
}

/* Item filters navigation */
.filter-options-title::after{
  color: #366d68;
  font-size: 16px;
}

.filter-options-title {
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.filter .block-subtitle {
  border: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.filter-options-item {
  border-bottom: solid 1px #dddddd;
}

/* List of items */

.toolbar select {
  background-color: white;
  border: solid 1px #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 #f1f2f2;
  font-family: 'Montserrat', sans-serif;
}

.abs-product-link>a:active, .product-item-name>a:active, .product.name a>a:active {
  color: #0066cc;
  font-weight: 500; 
}
.abs-product-link>a:hover, .product-item-name>a:hover, .product.name a>a:hover {
  color: #0066cc;
  font-weight: 500;
}
.abs-product-link>a:visited, .product-item-name>a:visited, .product.name a>a:visited{
  color: #0066cc;
  font-weight: 500;
}
.product-item-name>a, .product.name a>a {
  color: #0066cc;
  font-weight: 500;
}

@media (min-width: 768px), print {
  .toolbar-products {
    font-size: 18px;
  }

  .toolbar select {
    font-size: 18px;
  }
}

